
<ion-view view-title="Random">
        <ion-content class="padding has-header">
        <link rel="stylesheet" type="text/css" href="css/style.css">
           <span id='player'></span>
           <center>    
               <script>
function pictureChange()
{
document.getElementById('theImage').src="theImage";
}
</script>
<body>
  <center>
    <div>
    <H4> Randaffirmation. </H4> <H6> (Click Happy Box Below)</H6>
  </div>
<p>
<img id="myImage" .src="img/assatashakur.jpg" onclick="changeImage()"  width="300" height="300" position = "center;fixed">
</p>
</body>  

        </ion-content>
</ion-view>


