<ion-view view-title="Welcome to Affie">
    <ion-content class="padding has-header">
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
            <center> 
                <input type="image" ng-click="login.anonymousLogin()" img src = "https://i.imgsafe.org/2bce770.png" img class = "img-circle" style ="width:150px;height:135px;"/>
            </center>

    <body>
             
            <center>  
              <p1 style="position:centered; fixed; 100px;">

               We believe that you can build the self-affirmations you need to get to the next day!
            <br>   
               Let's get there together 
            <br>

        </p1>

            </center>

    </body>  
    </ion-content>
</ion-view>
