<ion-view view-title="Welcome to Affie">
    <ion-content class="padding has-header">
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
            <center> 
                <input type="image" ng-click="login.anonymousLogin()" img src = "https://i.imgsafe.org/2bce770.png" img class = "img-circle" style ="width:150px;height:135px;"/>
            </center>
            <center> 
        <article class="glass down" style = "100px";>
  <p> Self-Affirmations by You</p>
</article>  
            </center>  
    </body>  
    </ion-content>
</ion-view>
