<ion-view view-title="Affie Login">
    <ion-content class="padding has-header">
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
    
        <div class="bar bar-header">
            <center> 
            <span ng-click="login.signout()" class="cancel-create">sign out</span>
            
            <button class="button button-calm" ng-click="login.anonymousLogin()"> Guest login </button>
</center>
        </div>




        <div class="bar bar-subheader">
            <form ng-submit="login.signin()">
                <div class="list">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Your email" ng-model="login.email">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your password" ng-model="login.password">
                    </label>
                </div>
               
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">
                        Welcome to Affie
                    </button>

                    <body>
             <center>
              
              <p1 style="position:fixed; left: 350px; top:250px;">

               We believe that you can build the self-affirmations you need to get to the next day!
            <br>   
    
               Let's Get to the Next Day Together 
            <br>

        </p1>
    </center>

    </body>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
