/* Empty. Add your own CSS if you like */
.tab-login {
	
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
    font-size: 100px;
}

.img-circle {
    border-radius: 50%;
    }

* {
    font-family: 'Open Sans';
}

.submit {color: #ef4e3a;}

.button-calm {font-family: 'Open Sans';}

.button-positive {font-family: 'Open Sans'; color: #00000 ;}

.input-label 
    { color: #ef4e3a;
    }
.pane {
    background: url("http://static1.squarespace.com/static/56a4e76925981d0fbc579ca2/56a4f85e40667aa56dcb6c53/56a58111c647ad2469ba5b9c/1453687084730/DSC_0091.JPG?format=1500w") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    }


.padding
    {color:#000000;
    font-family: 'Open Sans';
    font-size: 14px;
    font: monospace;
        }

.icon.new-item {
	position: absolute;
	right: 20px;
	font-size: 14px;
	bottom: 13px;
}
.cancel-create {
	position: absolute;
	right: 20px;
	font-size: 14px;
	bottom: 13px;
	color:#ef4e3a;
}

[ng-click], [data-ng-click], [x-ng-click], [ng-click] {
    cursor: pointer; 
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
	font-size: 16px;
}